.list+.list {
    border-top: 1px solid var(--color-border);
}

.link {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 24px 0;
}

.thumbnail {
    display: none;
}

.title {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: 700;
    font-size: 16px;

}

.meta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 568px) {
    .thumbnail {
        display: inline-block;
        max-width: 200px;
        max-height: 105px;
        object-fit: cover;
        border-radius: 12px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 18px;
    }
}