@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --color-text-primary: #333;
  --color-text-secondary: #999;
  --color-text-unpainted: #fff;
  --color-text-error: #f33;
  --color-bg-primary: #f8f8f8;
  --color-bg-secondary: #f8f8f8;
  --color-border-dark: #333;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-button-primary: #333;
  --color-button-secondary: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}