.container {
    position: relative;
    background-color: #fff;
    width: calc(100% - 32px);
    padding: 40px 16px;
    border-radius: 8px;
}

@media (min-width: 576px) {
    .container {
        width: calc(100% - 80px);
        padding: 80px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 840px;
    }
}